
<div class="container-fliud " style="height: 100vh;" *ngIf="!loggedIn">

        <div class="card shadow-lg  mb-5 rounded" style="width: 40%; left: 30%; top: 25vh;">
            <div class="card-header ">
               <h1> welcome to mAadhar Portal</h1>
            </div>
            <div class="card-body">
                <div class="alert alert-success" *ngIf="newUser">
                    <p>Login With userId {{userid}} and mobile number as password</p>
                </div>
                <h3>LogIn</h3>
                <hr>
                <form  #logIn="ngForm" id="ngForm" (ngSubmit)="login()"> 
                    <div class="form-group">
                        <label for="userid" class="form-label">LogIn id</label>
                        <input type="text" class="form-control" name="userid" required [(ngModel)]="userid"> 
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" required [(ngModel)]="password" >
                        <span style="color: red;" *ngIf="invalidUser">Invalid UserId or password</span>
                    </div><br>
                    <input type="submit" value="LogIn" class="btn btn-success" [disabled]="logIn.invalid"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="register" class="text-decoration-none" >Click here to Register</a>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-info" (click)="adminLogin()">Admin logIn</button>
            </div>
        </div>
</div>

<router-outlet *ngIf="loggedIn"></router-outlet>