<div class="container-fliud">
   <div class="row bg-primary m-0" style="height: 15vh;">
        <div class="col-3 p-3 ps-5"><img src="/assets/images/aadhar.png" alt="" style="width: 30%;"/></div>
        <div class="col-3 p-3"><h1 class="p-3 text-white">mAadhar Portal</h1></div>
   </div>
   <div class="bg-info w-100 m-0" style="height: 85vh">
        <div *ngIf="!newUser">
            <div>
                <h1>Welcome! {{citizen.name}}</h1><br><br>
                <p>aadhar status <span class="badge bg-success">{{aadhar.status}}</span></p>
                <div class="card col-3">
                    <p><b>aadhar Number: </b> {{aadhar.uid}}</p>
                    <p><b>citizen Id: </b> {{citizen.id}}</p>
                    <p><b>Name </b> {{citizen.name}}</p>
                    <p><b>Date Of Birth </b> {{citizen.dateOfBirth}}</p>
                    <p><b>Phone number </b> {{citizen.phoneNumber}}</p>
                    <p><b>Email </b> {{citizen.email}}</p>
                    <p><b>Address </b> {{citizen.address}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="newUser">
            
        </div>
   </div>
</div>