<div class="container-fliud">
    <div class="container border border-dark p-3 mt-2" style="width: 50%; left: 25%;">
        <form  #register="ngForm" (ngSubmit)="Enroll()">
            <h3>Registration form</h3>
            <div class="form-group col-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="name"><br>
            </div>
            <div class="form-group">
                <label for="Gender" class="form-label">Gender</label><br>
                <input type="radio" id="Gender" value="Male">Male &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="Gender" value="Female">Female &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="Gender" value="Others">Others  
            </div><br>
            <div class="form-group">
                <label for="dob" class="form-label">Date Of Birth</label>
                <input type="date" id="dob" class="form-control" style="width: auto;" >
            </div><br>
            <div class="form-group col-6 ">
                <label for="mobileNumber" class="form-label">Mobile Number</label>
                <input type="number" id="mobileNumber" class="form-control" >
            </div>
            <div class="form-group col-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control">
            </div>
            <div class="form-group" >
                <label for="address" class="form-label">Address</label>
                <textarea name="" id="address" cols="30" rows="5" class="form-control"></textarea>
            </div><br>
            <input type="submit" value="Register" class="btn btn-primary">
        </form>
    </div>
</div>